<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><i class="fa-solid fa-user"></i>Details of <%= send[0].username %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="http://localhost:8080/detailsstyle.css">
</head>
<body>
    <h1>Details of <%= send[0].username %></h1>
    <h2>username: <%= send[0].username %></h2>
    <h2>email: <%= send[0].email %></h2>
    <h2>password: <%= send[0].password %></h2>
</body>
</html>